<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsWinform" value="true"/>
    <add key="IsWinformMultiTenantChild" value="false"/>
    <!--<add key="IndiaMart_API_URL" value="https://mapi.indiamart.com/wservce/enquiry/listing/GLUSR_MOBILE/7042445112/GLUSR_MOBILE_KEY/MTYzODI3MDU2OS42OTc2IzMxNjk3Nzc=/Start_Time/$START_DATE$/End_Time/$END_DATE$/"/>-->

    <add key="RPlusMasterDB" value="RPlusCRM_Master_V8"/>
    <add key="RPlusSAASPath" value="G:\Ram\Projects\Websites\CRM_Rpluserp_V9"/>
    <add key="PopHostName" value="mail.rpluscrm.com"/>
    <add key="PopPort" value="110"/>
    <add key="PopUserName" value="complaint@rpluscrm.com"/>
    <add key="PopPassword" value="aJl@#ldcRn92Adj"/>
    <add key="PopIsSSL" value="false"/>
    <add key="RPlusCRMWebAPI" value="http://localhost:54097"/>
    <add key="CleanupTempFolderMainPath" value="G:\Ram\Projects\Websites"/>
    <add key="DatabaseFolderPath" value="G:\Ram\Projects\Database"/>
    <add key="DatabaseFolderPath" value="G:\Ram\Projects\Database"/>
  </appSettings>
  <connectionStrings>
    <!--DEV-->
    <add name="ConnectionString" connectionString="Data Source=103.168.205.70;Initial Catalog=Dev_RPlusCRM_Master_V8;Integrated Security=false;User Id=dev;Password=gHjd@kd9*JKJaH^43d;"/>
    <add name="RPlusMasterConnectionString" connectionString="Data Source=103.168.205.70;Initial Catalog=Dev_RPlusCRM_Master_V8;Integrated Security=false;User Id=dev;Password=gHjd@kd9*JKJaH^43d;"/>
    
    <!--DEMO-->
    <!--<add name="ConnectionString" connectionString="Data Source=103.168.205.70;Initial Catalog=RPlusCRM_Master_V8;Integrated Security=false;User Id=sa;Password=kf^hd0#ndh$FGH63gJ;"/>
    <add name="RPlusMasterConnectionString" connectionString="Data Source=103.168.205.70;Initial Catalog=RPlusCRM_Master_V8;Integrated Security=false;User Id=sa;Password=kf^hd0#ndh$FGH63gJ;"/>-->
    
    
  </connectionStrings>
</configuration>